body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.subTextFont {
	font-size: 13px;
}

.cardTitleFont {
	font-size: 22px;
}

.overlay-button {
    position:absolute;
    width:100%;
    border: 0px;
    background-color: transparent;
    height:10%;
}

.card-image{
  height: 24vh;
  width:15vw;

}
.detail-image {
    border: 1px solid Gainsboro;

}

.condition-type-font {
    font-size:16px;
}


.related-item-card-width {
width: 30%;
}

.item-title {
   font-size:22px;
}

.price-font {
    font-size:26px;
}

.price-title-font {
    font-size:18px;
}

.seller-name {
    font-size:16px;
}

.card-image:hover {
    cursor: pointer;
}

.item-name{
  font-size: 14px
}

.item-name:hover{
    cursor: pointer;
}

.card-size {
  height:auto;
  width:15vw;
}



